@import "../../app/variables.scss";
@import "../../app/mixins.scss";

.homeSidebar {
  border-right: 2px $lightGrey solid;
  width: 300px;
  height: calc(100vh - 300px);

  .homeSidebarInner {
    ul {
      list-style: none;

      li {
        margin-bottom: 17px;

        a {
          font-size: 18px;
          color: black;
          text-decoration: none;
        }
      }
    }
  }

  @include tabletDown {
    width: 100%;
    height: auto;

    .homeSidebarInner {
      ul {
        display: flex;
        flex-direction: row;

        li {
          margin-right: 15px;
        }
      }
    }
  }
}
