@import "../../variables.scss";

.editorContainer {
  display: flex;
  flex-direction: column;
  width: 100vw;

  .editorWrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
  }

  .editor {
    width: 60%;
    height: calc(100vh - 80px);
    overflow-y: scroll;

    .editorField {
    }
  }
  .intelSidebar {
    width: 40%;
    height: calc(100vh - 80px);
    overflow-y: scroll;

    .intelSidebarInner {
    }
  }
}
