@import "../../variables.scss";
@import "../../mixins.scss";

.editorContainer {
  display: flex;
  flex-direction: column;
  width: 100vw;

  .editorGroupWrapper {
    height: calc(100vh - 80px);
    // overflow-y: scroll;

    .panel {
      overflow-y: scroll !important;
    }
  }

  .editorGroup {
  }

  // .editorWrapper {
  //   width: 100%;
  //   display: flex;
  //   flex-direction: row;
  // }

  // .editor {
  //   width: 60%;
  //   height: calc(100vh - 80px);
  //   overflow-y: scroll;

  //   .editorField {
  //   }
  // }
  // .intelSidebar {
  //   width: 40%;
  //   height: calc(100vh - 80px);
  //   overflow-y: scroll;

  //   .intelSidebarInner {
  //   }
  // }

  // @include tabletDown {
  //   .editorWrapper {
  //     flex-direction: column;

  //     .editor {
  //       width: 100%;
  //       height: calc(100vh - 330px);
  //     }
  //     .intelSidebar {
  //       width: 100%;
  //       height: 250px;
  //       overflow-y: hidden;
  //     }
  //   }
  // }
}

.resizeHandle {
  .resizeHandleInner {
    width: 50px;
    // height: 50px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: space-between;
    font-size: 32px;
  }

  @include tabletDown {
    display: none;
  }
}
