@import "../../app/variables.scss";

.documentTree {
  margin-top: 25px;

  .documentTreeInner {
    padding-left: 10px;

    .treeHeadline {
      display: block;
      margin-bottom: 15px;
      margin-left: 15px;
      text-transform: uppercase;
      font-size: 15px;
    }
    ul {
      display: block;
      list-style: none;
      padding: 0 0 0 25px;
      margin: 0 0 0 0;

      li {
        span {
          display: flex;
          flex-direction: row;

          &.selected {
            background-color: $lightGreyBackground2;
          }

          i {
            font-size: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 35px;
            height: 35px;
            transform: rotate(90deg);
            cursor: pointer;

            &:hover {
              background-color: $lightGreyBackground2;
            }
          }
          a {
            display: block;
            padding: 7px 2px;
            text-decoration: none;
            color: $blackish;
            line-height: 21px;
          }
        }

        &.addDocument {
          // padding: 7px 0;
          cursor: pointer;

          span {
            line-height: 35px;

            > i {
              &:hover {
                background-color: none;
              }
            }
          }
        }

        &.folded {
          span {
            i {
              transform: rotate(0deg);
            }
          }

          ul {
            display: none;
          }
        }
      }
    }
  }
}
