.formInput {
  width: 100%;
  margin-bottom: 15px;

  input {
    width: 100%;
    height: 60px;
    background-color: white;
    border: none;
    color: black;
    font-size: 16px;

    padding: 0 20px;

    &::placeholder {
      color: black;
    }
  }
  .formInputWarning {
    display: block;
    margin-top: 8px;
  }
}
