@import "../../app/mixins.scss";

.introHero {
  .introHeroInner {
    text-align: center;
    padding: 90px 0 90px 0;

    h1 {
      font-size: 64px;
      margin-bottom: 35px;
    }
    h2 {
      font-size: 48px;
    }
  }

  @include desktopDown {
    .introHeroInner {
      h1 {
        font-size: 58px;
      }
      h2 {
        font-size: 42px;
      }
    }
  }
  @include phoneDown {
    .introHeroInner {
      h1 {
        font-size: 48px;
      }
      h2 {
        font-size: 32px;
      }
    }
  }
}
