@import "../../app/variables.scss";

.editorHeader {
  width: 100%;
  background: $green1;

  .editorHeaderInner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;

    .headerBack {
      width: 70px;
      height: 70px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: $darkGreen;

      svg {
        width: 35px;
        height: 35px;
        color: white;
      }
    }
    .headerInfo {
      display: flex;
      flex-direction: column;

      span {
        display: block;
        color: white;
        text-align: center;

        &.docTitle {
          font-size: 18px;
          margin-bottom: 7px;
        }
        &.savedDate {
          font-size: 12px;
        }
      }
    }
  }
}
