.editorLayout {
  .editorLayoutInner {
    display: flex;
    flex-direction: row;

    .documentTreeSidebar {
      .sidebarInner {
      }
    }
    .documentEditorWrapper {
      width: 100%;

      .wrapperInner {
      }
    }
  }
}
