@import "../../app/variables.scss";
@import "../../app/shared.scss";

.editorLayout {
  .editorLayoutInner {
    display: flex;
    flex-direction: row;

    .documentTreeSidebar {
      background-color: $lightGreyBackground;
      height: 100vh;
      width: 400px;

      .sidebarInner {
      }
    }
    .documentEditorWrapper {
      width: 100%;

      .wrapperInner {
      }
    }
  }
}

.publishBtn {
  @extend .btn;
  height: 35px;
  font-size: 16px;
  width: 85%;
  margin: 0 auto;
}
