@import "../../app/variables.scss";
@import "../../app/shared.scss";
@import "../../app/mixins.scss";

.settings {
  .settingsInner {
    padding: 35px 0;
    width: $desktop;
    margin: 0 auto;

    .header {
      margin-bottom: 25px;

      a {
        text-decoration: none;
        color: $blackish;
      }
    }
    h1 {
      margin-bottom: 25px;
    }
    .settingsCard {
      background-color: $lightGreenGrey;
      padding: 35px;
      min-width: $small;
      width: fit-content;
      margin-bottom: 25px;

      p {
        margin-bottom: 10px;

        &:last-of-type {
          margin-bottom: 0;
        }
      }
    }
  }

  @include phoneDown {
    .settingsInner {
      .settingsCard {
        width: 100%;
        min-width: auto;
      }
    }
  }
}
