@import "../../app/variables.scss";

.profileMenu {
  background-color: $lightGreyBackground;

  .profileMenuInner {
    padding: 25px;

    .menuTrigger {
      display: flex;
      align-items: center;

      img {
        display: block;
        width: 45px;
        height: 45px;
        border-radius: 50%;
      }
    }
  }
}
