@import "../../app/variables.scss";
@import "../../app/shared.scss";
@import "../../app/mixins.scss";

.pricingItem {
  .pricingItemInner {
    h3 {
      font-size: 74px;
      font-weight: 500;
      margin-bottom: 25px;
      text-align: center;
    }
    h4 {
      font-size: 26px;
      margin-bottom: 35px;
      text-align: center;
    }
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      width: fit-content;
      margin: 0 auto;

      li {
        text-align: left;
        font-size: 18px;
        line-height: 30px;
        margin-bottom: 15px;

        span,
        i {
          display: inline-block;
          vertical-align: bottom;
        }
        i {
          font-size: 32px;
          position: relative;
          top: 4px;
          margin-right: 10px;
        }
      }
    }
  }

  @include tabletDown {
    .pricingItemInner {
      h3 {
        font-size: 68px;
      }
      h4 {
        font-size: 24px;
      }

      ul li {
        font-size: 18px;
      }
    }
  }
  @include phoneDown {
    // .pricingItemInner {
    //   ul {
    //     width: 100%;
    //   }
    // }
  }
}
