@import "../../app/variables.scss";
@import "../../app/shared.scss";

.pricingItem {
  .pricingItemInner {
    h3 {
      font-size: 84px;
      font-weight: 500;
      margin-bottom: 25px;
    }
    h4 {
      font-size: 32px;
      margin-bottom: 35px;
    }
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      width: fit-content;
      margin: 0 auto;

      li {
        text-align: left;
        font-size: 22px;
        margin-bottom: 15px;

        i {
          font-size: 32px;
          vertical-align: bottom;
          position: relative;
          top: 4px;
          margin-right: 10px;
        }
      }
    }
  }
}
