@import "../../app/variables.scss";
@import "../../app/shared.scss";
@import "../../app/mixins.scss";

.pricingInfo {
  margin-bottom: 90px;

  .pricingInfoInner {
    display: flex;
    flex-direction: row;
    width: $desktop;
    margin: 0 auto;

    .left,
    .right {
      text-align: center;
    }

    .left {
      padding: 65px 80px;
      background-color: $lightGreenGrey;
      width: 50%;

      a {
        background: $blackish;
        margin-top: 50px;
      }
    }
    .right {
      padding: 90px 80px 65px 80px;
      background-color: $green1;
      margin-top: -25px;
      margin-bottom: -25px;
      width: calc(50% + 100px);

      h3,
      h4,
      ul li {
        color: white;
      }
      a {
        background: white;
        color: black;
        margin-top: 50px;
      }
    }
  }

  @include desktopDown {
    .pricingInfoInner {
      width: 100%;
      padding-left: $gap;
      padding-right: $gap;
    }
  }
  @include tabletDown {
    .pricingInfoInner {
      width: $small;
      flex-direction: column;

      .left {
        width: calc(100% - 20px);
        margin: 0 auto;
        padding: 35px 40px 55px 40px;
      }
      .right {
        width: 100%;
        padding: 35px 40px 35px 40px;
        margin-top: -20px;
        margin-bottom: -20px;
      }
    }
  }
  @include phoneDown {
    .pricingInfoInner {
      width: 100%;

      .left,
      .right {
        padding-left: 25px;
        padding-right: 25px;
      }
    }
  }
}
