@import "../../app/variables.scss";
@import "../../app/mixins.scss";

.focusModeButton {
  display: flex;
  flex-direction: row;
  border: 1px $lightGrey solid;
  background: none;
  outline: none;
  border-radius: 50px;
  color: $darkGrey;
  padding: 5px 12px;
  cursor: pointer;
  // margin-bottom: 25px;
  transition: all 0.2s;

  &:hover {
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.1);
    transition: all 0.2s;
  }

  i {
    font-size: 20px;
    margin-right: 4px;
  }
  span {
    font-size: 16px;
    white-space: nowrap;
    position: relative;
    top: 1px;
  }

  @include tabletDown {
    margin-bottom: 15px;
  }
}
