@import "../app/variables.scss";

.siteHero {
  .siteHeroInner {
    width: $desktop;
    margin: 0 auto;
    padding: 90px 0 0 0;

    h1 {
      font-size: 64px;
      line-height: 94px;
      text-align: center;
      width: 90%;
      margin: 0 auto 45px auto;

      span {
        font-weight: 500;
        color: $green1;
      }
    }
    .heroVideo {
      video {
        width: 100%;
        background-color: $lightGrey;
      }
    }

    .heroFeatures {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      column-gap: 60px;

      .feature {
        i {
          display: block;
          font-size: 64px;
          margin-bottom: 15px;
        }
        span {
          display: block;
          font-size: 24px;
          font-weight: 500;
          margin-bottom: 15px;
        }
        p {
          font-size: 18px;
          line-height: 30px;
          font-weight: 300;
        }
      }
    }
  }
  .featureWrapper {
    position: relative;
    background-color: $lightGreenGrey;

    .siteHeroInner {
      padding: 60px 0 90px 0;
    }

    &:before {
      content: " ";
      display: block;
      height: 300px;
      position: absolute;
      top: -300px;
      left: 0;
      background-color: $lightGreenGrey;
      width: 100vw;
      z-index: -3;
    }
  }
}
