@import "../app/variables.scss";
@import "../app/mixins.scss";

.siteHero {
  .siteHeroInner {
    width: $desktop;
    margin: 0 auto;
    padding: 90px 0 0 0;

    h1 {
      font-size: 64px;
      line-height: 94px;
      text-align: center;
      width: 90%;
      margin: 0 auto 45px auto;

      span {
        font-weight: 500;
        color: $green1;
      }
    }
    .heroVideo {
      video,
      iframe {
        width: 100%;
        background-color: $lightGrey;
        border: 15px white solid;
        // border-radius: 5px;
        aspect-ratio: 16/10;
        box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.2);
      }
    }

    .heroFeatures {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      column-gap: 60px;

      .feature {
        i {
          display: block;
          font-size: 64px;
          margin-bottom: 15px;
        }
        span {
          display: block;
          font-size: 24px;
          font-weight: 500;
          margin-bottom: 15px;
        }
        p {
          font-size: 18px;
          line-height: 30px;
          font-weight: 300;
        }
      }
    }
  }
  .featureWrapper {
    position: relative;
    background-color: $lightGreenGrey;

    .siteHeroInner {
      padding: 60px 0 90px 0;
    }

    &:before {
      content: " ";
      display: block;
      height: 300px;
      position: absolute;
      top: -300px;
      left: 0;
      background-color: $lightGreenGrey;
      width: 100vw;
      z-index: -3;
    }
  }

  @include desktopDown {
    .siteHeroInner {
      width: 100%;
      padding-left: $gap;
      padding-right: $gap;

      h1 {
        font-size: 58px;
        line-height: 88px;
      }

      // .heroVideo {
      //   video,
      //   iframe {
      //     display: block;
      //     width: calc(100% - 20px);
      //     margin: 0 auto;
      //   }
      // }
      .heroFeatures {
        column-gap: 30px;
      }
    }
    .featureWrapper {
      padding-left: $gap;
      padding-right: $gap;
    }
  }
  @include tabletDown {
    .siteHeroInner {
      h1 {
        font-size: 48px;
        line-height: 72px;
      }
      .heroFeatures {
        .feature {
          i {
            font-size: 48px;
            margin-bottom: 10px;
          }
          span {
            font-size: 20px;
            margin-bottom: 10px;
          }
          p {
            font-size: 15px;
            line-height: 25px;
          }
        }
      }
    }
    .featureWrapper {
      &:before {
        height: 100px;
        top: -100px;
      }
    }
  }
  @include phoneDown {
    .siteHeroInner {
      padding-top: 70px;

      h1 {
        font-size: 28px;
        line-height: 46px;
        margin-bottom: 35px;
      }
      .heroFeatures {
        display: flex;
        flex-direction: column;

        .feature {
          margin-bottom: 50px;

          &:last-of-type {
            margin-bottom: 0;
          }
        }
      }
    }
  }
}
