@import "./variables.scss";

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $green1;
  color: white;
  text-decoration: none;
  min-width: 200px;
  height: 60px;
  font-size: 20px;
  outline: none;
  border: none;
  cursor: pointer;
  padding: 10px 0;
}

.headline {
  font-size: 36px;
}

.search {
  width: 100%;
  height: 70px;
  box-shadow: $cardShadow1;
  display: flex;
  align-items: center;
  border: none;
  padding: 0 25px;
  font-size: 20px;
  font-weight: 300;

  &:focus {
    outline-color: $darkGreen;
  }
}
