$desktop: 1200px;
$mid: 900px;
$small: 500px;

$gap: 10px;

$green1: #5ec262;
$darkGreen: #55ae59;
$greenBlack: rgba(15, 42, 23, 0.923);
$lightGreenGrey: rgba(203, 220, 203, 0.35);
$lightGrey: rgba(217, 217, 217, 1);
$darkGrey: rgba(91, 91, 91, 1);
$blackish: rgba(46, 46, 46, 1);
