@import "../../app/variables.scss";
@import "../../app/mixins.scss";

.badge {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  line-height: 12px;
  color: white;
  padding: 0px 16px;
  border-radius: 50px;
  background: $green1;
  height: 25px;
}

.information {
  //   background-color: rgb(38, 36, 36);
  //   background-color: rgba(55, 135, 76, 0.1);
  padding: 5px 0;

  .informationInner {
    h2 {
      font-size: 24px;
      margin: 25px 0;
      padding: 0 25px;
      font-weight: 400;
      color: $greenBlack;

      //   color: rgb(215, 215, 215);
    }

    .informationResults {
      .informationResultsInner {
        padding: 0 10px;
      }
    }
  }

  @include tabletDown {
    .informationInner {
      .informationResults {
        .informationResultsInner {
          display: flex;
          flex-direction: row;
          overflow-y: hidden;
        }
      }
    }
  }
}
