@import "../../app/variables.scss";
@import "../../app/mixins.scss";

.badge {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  line-height: 12px;
  color: white;
  padding: 0px 16px;
  border-radius: 50px;
  background: $green1;
  height: 25px;
}

.information {
  //   background-color: rgb(38, 36, 36);
  //   background-color: rgba(55, 135, 76, 0.1);
  padding: 15px 0;

  .informationInner {
    h2 {
      font-size: 24px;
      margin: 25px 0;
      padding: 0 25px;
      font-weight: 400;
      color: $greenBlack;

      //   color: rgb(215, 215, 215);
    }

    .informationResults {
      .informationResultsInner {
        padding: 0 15px;

        .resultItem {
          padding: 20px 25px 15px 25px;
          margin-bottom: 25px;
          border-radius: 3px;

          box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.1);

          .itemHeader {
            display: flex;
            // justify-content: flex-end;

            span {
              text-transform: uppercase;
              font-size: 12px;
              font-weight: 400;
              display: block;
              margin-bottom: 5px;
              color: $greenBlack;
            }
          }
          .itemBody {
            margin-bottom: 12px;

            p {
              //   color: rgb(215, 215, 215);
            }
          }
          .itemFooter {
            display: flex;
            justify-content: space-between;

            .left {
              display: flex;
            }

            a {
              font-size: 15px;
              line-height: 25px;
              color: $green1;
              margin-right: 7px;
            }

            // a {
            //   margin-right: 25px;
            //   position: relative;

            //   svg {
            //     position: absolute;
            //     right: -25px;
            //   }
            // }
          }
          p {
            font-size: 18px;
            line-height: 32px;
            margin-bottom: 7px;
            font-weight: 300;
          }
        }
      }
    }
  }

  @include tabletDown {
    .informationInner {
      .informationResults {
        .informationResultsInner {
          display: flex;
          flex-direction: row;
          overflow-y: hidden;

          .resultItem {
            min-width: 550px;
            margin-right: 25px;
            height: fit-content;

            p {
              font-size: 15px;
              line-height: 28px;
            }
          }
        }
      }
    }
  }
}
